/* * {
  outline: red 1px solid;
} */

body {
	background-color: #000;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu {
	float: left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
	position: absolute;
	top: 72px;
	left: -112px;
  z-index: 100;
}
.instructions {
  float: left;
  width: 25%;
  position: relative;
  top: 100px;
  left: -100px;
}

.instructions p {
  text-transform: uppercase;
  font: normal 24px/40px Arial, sans-serif;
  display: block;
  width: 250px;
  margin-bottom: 40px;
}

.instructions .right {
  position: relative;
  left: 230px;
}



